<ion-header>
  <ion-toolbar>
    <ion-title>Patient Chats</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="showMenuPopover(this.$event)">
        <ion-icon
          slot="icon-only"
          ios="ellipsis-horizontal"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="chat-list-card" *ngFor="let patient of patients">
    <ion-item lines="none">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{ patient.name }}</ion-label>
      <ion-button fill="outline" slot="end" (click)="openChatModal(patient._id)"
        >Chat</ion-button
      >
    </ion-item>
  </ion-card>
</ion-content>
