.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.login-form,
.registration-form,
.add-kit-form {
  width: 85%;
  margin: auto;

  ion-list {
    background: none;
    ion-item {
      background: rgba(var(--ion-color-primary-rgb), 0.002);
      --background: none;
      border-radius: 10px;
      padding: 3px 0 !important;
      margin-bottom: 20px;
      border: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;

      .item-native {
        --background: none !important;
      }

      & ion-select-option {
        margin-left: auto;
        max-width: unset;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0;

        .select {
          max-width: 100%;
          .select-text {
            font-size: 1.35rem;
          }
        }
      }
      &.item-input {
        .text-input::placeholder {
          color: #78927e !important;
          font-size: 1.3rem;
        }
      }

      .label {
        font-size: 1.35rem;
        font-weight: 400;
        color: #78927e;
        flex: unset;
      }
    }
  }

  .form-btn-submit {
    margin: 20px 0;
  }
}

.chat-list-card {
  padding: 20px 0;
}
