<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="floating" for="email">Email</ion-label>
        <ion-input
          [(ngModel)]="userData.email"
          name="email"
          type="email"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" for="password">Password</ion-label>
        <ion-input
          [(ngModel)]="userData.password"
          name="password"
          type="password"
          required
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" shape="round" (click)="loginAction()"
      >Log In</ion-button
    >
  </form>

  <div>Don't have an account? <a [routerLink]="['/register']">Register</a></div>
</ion-content>
