<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating" for="name">Name</ion-label>
      <ion-input
        [(ngModel)]="userData.name"
        name="name"
        type="text"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" for="email">Email</ion-label>
      <ion-input
        [(ngModel)]="userData.email"
        name="email"
        type="email"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" for="phone">Phone</ion-label>
      <ion-input
        [(ngModel)]="userData.phone"
        name="phone"
        type="tel"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" for="password">Password</ion-label>
      <ion-input
        [(ngModel)]="userData.password"
        name="password"
        type="password"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" for="gender">Gender</ion-label>
      <ion-select [(ngModel)]="userData.gender" placeholder="Select One">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating" for="age">Age</ion-label>
      <ion-input
        [(ngModel)]="userData.age"
        name="age"
        type="number"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" shape="round" (click)="registerAction()"
    >Register</ion-button
  >

  <div>Already have an account? <a [routerLink]="['/login']">Log In</a></div>
</ion-content>
